/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /* border: 1px dotted black;         */  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
    /* background-color: rgba(0,0,0,5%); */  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* standaard marge 0 */
  background-color: #f9e3e3;        /* tekstkleur donkergrijs */
}  
#hoofdtitel {
  position: absolute;
  top: 50px
  right: 60px
    }



/* 
css property:background-image
opacity
hulp? w3schools
of video op informatica college vwo laatste video
*/

}

}    /* zorg dat border meetelt bij de width en height van boxen *                   /* standaard marge 0 */
}

/* Indeling voor alle pagina's */

.page {
  width: 700px;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}
.acteur {
  overflow: hidden; /* div krijgt hoogte van alle floats die erin zitten */
}
.lltg {
  float: left;
  width: 290px;
  margin: 0.5em 1em 1em;
  border: 20%;
  clear: left;
}
.alsb {
  float: left;
  width: 290px;
  margin: 0.5em 1em 1em;
  border: 20%;
  clear: left;
}


img {
  width:100%;
}

header, footer {                  /* geldt voor header en footer */
  position: center
  font-size: 100%;
}

main {                       
  text-align: justify;      
}
    /* tekst uitvullen */

p {
  color: black; 
  font-size: 25px;
  margin: 10px 0px;
  text-align: left;       
  border-bottom-left-radius: ;/* tekst links en rechts uitvullen */
}

/* Indeling voor hoofd pagina */

.kolomLinks {
  float:left;
  width:250px;
  padding-right:15px;           /* afstand tussen plaatje en rechterkolom */
}
.kolomRechts {
  float:left;
  width: 450px;
}
.kolomStop {
  clear:both;                   /* stop met floaten */
}

/* Opmaak voor alle pagina's */

h1 {
  color:black;
  font-size: 55px;
  font-family: times 'Times New Roman', Times, serif;
  margin: 10px 0px;
  text-align: center;
  position: center;
}

  H2 {
    color: white;
    font-size: 50px;
    font-family: garamond, serif;
    margin: 10px 0px;
    text-align: center;
    position: center;
  }
  h3 {
    color: white;
    font-size: 50px;
    font-family: garamond, serif;
    margin: 10px 0px;
    text-align: center;
    position: center;
  }
  p {
  color: black; 
  font-size: 30x;
  margin: 10px 0px;
  text-align: left;   
  border-bottom-left-radius: ;/* tekst links en rechts uitvullen */
  }
  
.smalltext {
    text-align: center;
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Navigatiebalk voor alle pagina's */
nav ul {
    border-radius: 25px;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: center;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-family: copperplate, fantasy;
}

nav li a:hover {
    background-color: white
}

nav li a.active {
    background-color: white;
}
