/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /* border: 1px dotted black;         */  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
    /* background-color: rgba(0,0,0,5%); */  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* standaard marge 0 */
  background-color: #f9e3e3;        /* tekstkleur donkergrijs */
}  
#hoofdtitel {
  position: absolute;
  top: 50px
  right: 60px
    }



/* 
css property:background-image
opacity
hulp? w3schools
of video op informatica college vwo laatste video
*/

}

}    /* zorg dat border meetelt bij de width en height van boxen *                   /* standaard marge 0 */
}

/* Indeling voor alle pagina's */

.page {
  width: 250px;                   /* vaste breedte van 700 pixels */
  margin: auto;              /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

.index-container{
  border-style: hidden;
  float: center;
  padding-left: 225px;
  display: flex;
}

.acteur {
  overflow: hidden; /* div krijgt hoogte van alle floats die erin zitten */
}
.lltg-container {
  justify-content: space-between;
  width: 95%;
  margin-left: 50px;
  text-align: justify;
  display: flex;
}

.lltg-beschrijving {
  padding-left: 50px;
  float: left;
  display: flex;
}

.alsb-container {
  justify-content: space-between;
  width: 95%;
  margin-left: 50px;
  text-align: justify;
  display: flex;
}

.alsb-beschrijving {
  padding-left: 50px;
  float: left;
  display: flex;
}

.nlb-container {
 justify-content: space-between;
  width: 95%;
  margin-left: 50px;
  text-align: justify;
  display: flex;
}

.nlb-beschrijving {
  padding-left: 50px;
  float: left;
  display: flex;
}

.mg-container {
 justify-content: space-between;
  width: 95%;
  margin-left: 50px;
  text-align: justify;
  display: flex;
}

.mg-beschrijving {
  padding-left: 50px;
  float: left;
  display: flex;
}

.bwd-container {
  justify-content: space-between;
  width: 95%;
  margin-left: 50px;
  text-align: justify;
  display: flex;
}

.bwd-beschrijving {
  padding-left: 50px;
  float: left;
  display: flex;
}

.ft-container {
  justify-content: space-between;
  width: 95%;
  margin-left: 50px;
  text-align: justify;
  display: flex;
}

.ft-beschrijving {
  padding-left: 50px;
  float: left;
  display: flex;
}

.fh-container {
  justify-content: space-between;
  width: 95%;
  margin-left: 50px;
  text-align: justify;
  display: flex;
}

.fh-beschrijving {
  padding-left: 50px;
  float: left;
  display: flex;
}

.md-container {
  justify-content: space-between;
  width: 95%;
  margin-left: 50px;
  text-align: justify;
  display: flex;
}

.md-beschrijving {
  padding-left: 50px;
  float: left;
  display: flex;
}

.tb-container {
  justify-content: space-between;
  width: 95%;
  margin-left: 50px;
  text-align: justify;
  display: flex;
}

.tb-beschrijving {
  padding-left: 50px;
  float: left;
  display: flex;
}

.cloy-container {
  justify-content: space-between;
  width: 95%;
  margin-left: 50px;
  text-align: justify;
  display: flex;
}

.cloy-beschrijving {
  padding-left: 50px;
  float: left;
  display: flex;
}

.la-container {
  justify-content: space-between;
  width: 95%;
  margin-left: 50px;
  text-align: justify;
  display: flex;
}

.la-beschrijving {
  padding-left: 50px;
  float: left;
  display: flex;
}

.miigb-container {
  justify-content: space-between;
  width: 95%;
  margin-left: 50px;
  text-align: justify;
  display: flex;
}

.miigb-beschrijving {
  padding-left: 50px;
  float: left;
  display: flex;
}

.kr-container {
  justify-content: space-between;
  width: 95%;
  margin-left: 50px;
  text-align: justify;
  display: flex;
}

.kr-beschrijving {
  padding-left: 50px;
  float: left;
  display: flex;
}

.avsa-container {
  justify-content: space-between;
  width: 95%;
  margin-left: 50px;
  text-align: justify;
  display: flex;
}

.avsa-beschrijving {
  padding-left: 50px;
  float: left;
  display: flex;
}

.ge-container {
  justify-content: space-between;
  width: 95%;
  margin-left: 50px;
  text-align: justify;
  display: flex;
}

.ge-beschrijving {
  padding-left: 50px;
  float: left;
  display: flex;
}

.hc-container {
  justify-content: space-between;
  width: 95%;
  margin-left: 50px;
  text-align: justify;
  display: flex;
}

.hc-beschrijving {
  padding-left: 50px;
  float: left;
  display: flex;
}

.cast {
  float: center;
}

.cast-huyitian {
  float: left;
  margin: 20px;
}

.cast-shenyue {
  float: left;
  margin: 20px;

}

.cast-gaozhiting {
  float: right;
  margin: 20px;
}

.cast-wangziwei {
  float: left;
  margin: 20px;
}

.cast-sunning {
  float: left;
  margin: 20px;
}

.cast-monicalu {
  float: right;
  margin: 20px;
}

.cast-shentao {
  float: left;
  margin: 20px;
}

.cast-songyaxuan {
  float: left;
  margin: 20px;
}

.cast-shenteng {
  float: right;
  margin: 20px;
}

.cast-jialing {
  float: left;
  margin: 20px;
}

.cast-huachenyu {
  float: left;
  margin: 20px;
}

.cast-guanxiaotong {
  float: right;
  margin: 20px;
}

.cast-rogerkwok {
  float: left;
  margin: 20px;
}

.cast-kennethma {
  float: left;
  margin: 20px;
}

.cast-nathalietong {
  float: right;
  margin: 20px;
}

.cast-alilee {
  float: left;
  margin: 20px;
}

.cast-kellycheung {
  float: left;
  margin: 20px;
}

.cast-matthewho {
  float: right;
  margin: 20px;
}

.cast-hyunbin {
  float: left;
  margin: 20px;
}

.cast-sonyejin {
  float: left;
  margin: 20px;
}

.cast-seojihye {
  float: right;
  margin: 20px;
}

.cast-kimjunghyun{
  float: left;
  margin: 20px;
}

.cast-yangkyungwon {
  float: left;
  margin: 20px;
}

.cast-leeshinyoung {
  float: right;
  margin: 20px;
}

.cast-michaelmiu {
  float: left;
  margin: 20px;
}

.cast-boscowong{
  float: left;
  margin: 20px;
}

.cast-ronng {
  float: right;
  margin: 20px;
}

.cast-eddiecheung {
  float: left;
  margin: 20px;
}

.cast-michaelwong {
  float: left;
  margin: 20px;
}

.cast-hugong {
  float: right;
  margin: 20px;
}

.cast-raymondwong {
  float: left;
  margin: 20px;
}

.cast-selenalee {
  float: left;
  margin: 20px;
}

.cast-shauntam {
  float: right;
  margin: 20px;
}

.cast-alicechan {
  float: left;
  margin: 20px;
}

.cast-rebecazhu {
  float: left;
  margin: 20px;
}

.cast-roxannetong {
  float: right;
  margin: 20px;
}

img {
  width: 250px;
}

header, footer {                  /* geldt voor header en footer */
  position: center
  font-size: 100%;
}

main {                       
  text-align: justify;      
}
    /* tekst uitvullen */

p {
  color: black; 
  font-size: 25px;
  margin: 10px 0px;
  text-align: left;       
  border-bottom-left-radius: ;/* tekst links en rechts uitvullen */
}

/* Indeling voor hoofd pagina */

.kolomLinks {
  float:left;
  width:250px;
  padding-right:15px;           /* afstand tussen plaatje en rechterkolom */
}
.kolomRechts {
  float:left;
  width: 450px;
}
.kolomStop {
  clear:both;                   /* stop met floaten */
}

/* Opmaak voor alle pagina's */

h1 {
  color:black;
  font-size: 55px;
  font-family: times 'Times New Roman', Times, serif;
  margin: 10px 0px;
  text-align: center;
  position: center;
}

  h2, h3, h4, h5 {
    color: white;
    font-size: 50px;
    font-family: garamond, serif;
    margin: 10px 0px;
    text-align: center;
    position: center;
  }

  p {
  color: black; 
  font-size: 30x;
  margin: 10px 0px;
  text-align: left;   
  border-bottom-left-radius: ;/* tekst links en rechts uitvullen */
  }
  
.smalltext {
    text-align: center;
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Navigatiebalk voor alle pagina's */
nav ul {
    border-radius: 25px;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: center;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-family: copperplate, fantasy;
}

nav li a:hover {
    background-color: white
}

nav li a.active {
    background-color: white;
}
